html {

}

.container {
  background-color: rgb(224, 224, 224);
  width: 400px;
  height: 300px;
  border-radius: 3px;
  align-items: center;
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.title {
  font-family: Roboto,Helvetica Neue,sans-serif;
  background-color: rgb(255,138,101);
  width: 100%;
  height: 40px;
  max-height: 70px;
  padding: 0px 16px;
  margin: 15px 0px;
  color: #333;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0px;
  box-sizing: border-box;
  position: relative;
}

.inputSection, .select {
  font-family: Roboto,Helvetica Neue,sans-serif;
  width: 100%;
  height: 30px;
  margin: 10px 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0px;
  box-sizing: border-box;
  position: relative;
}

.select {
  font-size: 1em;
}
